.App {
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  width: 35%;
  margin: 20px auto;
}


label{
  text-align: left;
}

input{
  padding: 10px 100px;
  margin: 10px;
  text-align: center;
}

.butt{
  padding: 10px;
}

button{
  margin: 10px;
  /* padding-left: 300px; */
  text-align: center;
  width: 350px;
}